In [11]:
import pandas as pd
import os
import numpy as np
import plotly.graph_objects as go
import plotly.express as px

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
from jupyter_dash import JupyterDash

df1 = pd.read_csv('./dataset/df1.csv')
df2 = pd.read_csv('./dataset/df2.csv')

df3 = pd.read_csv('./dataset/df3.csv')
dfcor = df1[['Acidente', 'Mortos']]
corr = dfcor.corr()

In [13]:
df1

      Ano Estado  Mortos  Pessoas  Acidente
0    2007     AC      20      766       324
1    2007     AL     132     3563      1604
2    2007     AM      12      484       173
3    2007     AP      15      419       150
4    2007     BA     605    17371      7088
..    ...    ...     ...      ...       ...
400  2021     RS     134     4252      1820
401  2021     SC     127     7062      3167
402  2021     SE      13      474       219
403  2021     SP      73     3669      1656
404  2021     TO      30      495       215

[405 rows x 5 columns]

In [14]:
df2

     Estado   Ano        Mês  Unnamed: 0  Mortos  Pessoas  Acidente
0        AC  2007      April     1560064       2       76        32
1        AC  2007     August     1516324       2       46        20
2        AC  2007   December     2990121       4       86        31
3        AC  2007   February      960450       0       41        19
4        AC  2007    January      814389       0       63        28
...     ...   ...        ...         ...     ...      ...       ...
4853     TO  2021      March      433343       3       69        34
4854     TO  2021        May      662262       9       77        32
4855     TO  2021   November      108936       1       20         9
4856     TO  2021    October       47644       0       12         5
4857     TO  2021  September      138946       3       32        12

[4858 rows x 7 columns]

In [15]:
df3

,Estado,Ano,Municipio,Unnamed: 0,Mortos,Pessoas,Acidente
0,AC,2007,ACRELANDIA,513993,1,16,9
1,AC,2007,ASSIS BRASIL,46449,1,5,1
2,AC,2007,BRASILEIA,89084,0,3,1
3,AC,2007,BUJARI,652863,1,18,10
4,AC,2007,CAPIXABA,1411391,1,61,20
...,...,...,...,...,...,...,...
26706,TO,2021,SAO BENTO DO TOCANTINS,21377,0,1,1
26707,TO,2021,TALISMA,47237,1,7,4
26708,TO,2021,TUPIRAMA,3161,1,2,1
26709,TO,2021,WANDERLANDIA,161096,4,35,11
26710,TO,2021,XAMBIOA,2453,0,4,1

# Acidentes de Trânsito 

 
<p style='text-align: justify;'> Os acidentes de trânsito geram muitas consequências para a população, como problemas econômicos, engarrafamentos quilométricos e várias mortes que pode acontecer em um único acidente. Portanto, necessitamos resolver sistematicamente esse problema procurando criar mecânicos preventivos, para isso, necessitamos saber primeiamente onde e quando devemos empenhar maior esforço nesse combate e uma das ferramentas que temos é no tratamento e visualização dos dados coletados. </p>

<p style='text-align: justify;'>No site do Detram obtemos vários dados coletados entre 2007 a 2021 e continua sendo atualizado constantemente, nos dados contém várias informações, como a ocorrência dos acidentes e mortes ocorridas nas rodovias brasileiras, esses dados são de grande importância para criar alternativas para a diminuição de acidentes e consequentemente na diminuição de óbitos nas estradas.</p>
    
<p style='text-align: justify;'>Com os dados em mãos, foram gerados três gráficos, uma sendo o gráfico de dispersão e duas sendo 0 grafico de barras empilhado. Na primeira visualização temos a correlação dos acidentes com as mortes no país de cada ano; a segunda visualização, mostra a quantidade de acidentes por estado que está empilhaods por mês para cada ano; por fim a terceira temos a visualização da quantidade de acidentes por ano empilhado por municipio para cada ano.

In [8]:
animations = {
          'Scatter': px.scatter(df1, x="Acidente", y="Mortos", animation_frame="Ano", animation_group="Ano", color = "Estado",
           size="Mortos",range_x=[0,max(df1['Acidente'].values)+300], range_y=[0,max(df1['Mortos'].values)+100],
           title="Diagrama de Dispersão de Acidentes por Mortes")}   

app = JupyterDash(__name__)
#app = dash.Dash(__name__)

app.layout = html.Div([
    dcc.RadioItems(id = 'selection',
                 value = 'Scatter'),
    
    dcc.Graph(id="graph")
    
])
@app.callback(
    Output("graph", "figure"), 
    [Input("selection", "value")])

def display_animated_graph(s):
    
    return animations[s]

if __name__ == "__main__":
   app.run_server(debug=True, mode = 'inline')

In [9]:
print('Temos uma forte correlação entre Acidentes e Mortes ' + str(corr.values[0,1]))

Temos uma forte correlação entre Acidentes e Mortes 0.8954148652959313

<p style='text-align: justify;'> No gráfico de dispersão correlacionando acidentes com as mortes podemos destacar algumas observações:</p>

 <p>1. Nota-se uma diminuição gradativa nos valores ao passar do ano;</p>
 <p>2. O estado com maior índice de acidentes e mortes está no Estado de Minas Gerias em todos anos; </p>
 <p>3. Temos uma correlação forte de 0.897 entre Acidente e Mortes.</p>

In [10]:
Estados = df2.Estado.unique()
app = JupyterDash(__name__)
#app = dash.Dash()
app.layout = html.Div([
    dcc.Dropdown(
        id="selectstate",
        options=[{"label": x, "value": x} for x in Estados],
        placeholder = "Selecione o Estado"
    ),
    dcc.Graph(id="bar-chart"),
])

                  
@app.callback(
    Output("bar-chart", "figure"), 
    [Input("selectstate", "value")])
def update_bar_chart(estado):
    fig = px.bar(df2[df2["Estado"] == estado], x="Ano", y="Acidente", title="Quantidade de Acidentes por Estado", color = 'Mês')
    return fig


if __name__ == "__main__":
    app.run_server(debug=True, mode = 'inline')

<p style='text-align: justify;'> No segundo gráfico de barras empilhado podemos selecionar o estado e obter algumas informações:</p>

   <p>1. Podemos visualizar em qual ano teve maior ocorrência de acidentes para cada estado;</p>
    <p>2. Analisar em qual mês teve as maiores ocorrência de acidentes para cada ano;</p> 
    <p style='text-align: justify;'> 3. Em Minas Gerais que obteve as maiores ocorrências de acidentes em todos os anos, podemos perceber que no ano de 2020 nos meses de janeiro, dezembro e fevereiro obtiveram a valores altos de acidentes em comparação com os outros meses. </p>

In [5]:
Estados = df3.Estado.unique()
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Dropdown(
        id="selectstate",
        options=[{"label": x, "value": x} for x in Estados], 
        placeholder = "Selecione o Estado"

    ),
    dcc.Graph(id="bar-chart")
])

@app.callback(
    Output("bar-chart", "figure"), 
    [Input("selectstate", "value")])
def update_bar_chart(estado):
    fig = px.bar(df3[df3["Estado"] == estado], x="Ano", y="Acidente", title="Quantidade de Acidentes por Municipio", color='Municipio')
    return fig


if __name__ == "__main__":
    app.run_server(debug=True, mode = 'inline')

<p style='text-align: justify;'> No último gráfico de barras empilhado podemos selecionar o estado  e obter algumas informações de cada município para cada ano:</p>

   <p>1. Podemos visualizar em qual ano teve maior ocorrência de acidentes em cada município selecionando o estado;</p>
   <p>2. Analisar em qual município teve maior ocorrência de acidentes para cada estado;</p>
   <p style='text-align: justify;'>3. Em Minas Gerais que obteve as maiores ocorrências de acidentes em todos os anos, podemos perceber que na cidade de Betim teve maior ocorrência de acidentes em todos os anos.</p>

<p style='text-align: justify;'>Com base nas informações e nas visualizações coletadas, podemos dizer com convicção onde e em qual época devemos tomar medida para frear os acidentes nas estradas do país. Que através da análise, como por exemplo, podemos ter maior foco em Minas Gerias, na cidade de Betim, nos meses de dezembro, janeiro e fevereiro. </p>